DB_URL=jdbc:postgresql://aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres
DB_USERNAME=postgres.lbrfnucbgwzvtzmzukfl
DB_PASSWORD=NguyenLeVu123@

PGVECTOR_TABLE_NAME=vector_store_1536
PGVECTOR_INITIALIZE_SCHEMA=true

OPENAI_BASE_URL=https://openrouter.ai/api/v1
OPENAI_API_KEY=
OPENAI_CHAT_MODEL=google/gemini-2.0-flash-lite-preview-02-05:free
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
EMBEDDING_DIMENSIONS=1536
